// .btn-no-style {
//     background: none;
//     border: none;
//     padding: 0;
// }

body {
    margin-bottom: 100px;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.task-progress {
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
}


.completed-task-list {
    .panel-default, .more-group--button {
        color: #a9a3a3;
    }
}

.company--member {
    float: left;
    // background: #c1c1c1;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 2px;
    img {
        width: 100%;
    }
}

.company--logo {
    max-width: 260px;
}