.more-group {
    position: relative;
    
    &--list {
        display: none;
        position: absolute;
        top: 0;
        right: 30px;
        background: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        width: auto;
        white-space: nowrap;
        z-index: 10;

        .btn {
            background: none;
            border: none;
            padding: 0;
            color: #333;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        &.open {
            display: inline-block;
        }
    }
    
}