// @import

.more-group {
    position: relative;
    height: 25px;

    &--project-wrapper .more-group {
        margin: 27px 15px;
    }

    &--button {
        color: #333;
    }
    
    &--list {
        display: none;
        position: absolute;
        top: 0;
        right: 30px;
        background: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        width: auto;
        white-space: nowrap;
        z-index: 10;

        .btn, .btn:active, .btn:focus, .btn:hover {
            background: none;
            border: none;
            padding: 0;
            color: #333;
        }

        .btn-danger, .btn-danger:hover {
            color: $color-red;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        hr {
            margin: 5px 0;
        }

        &.open {
            display: inline-block;
        }
    }
    
}